html{
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}
/*Container de elementos*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: transparent;
}

/*Modo obscuro*/
html,body {
  background-color: #0b0b0b;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000; 
  color: #fff;
  overflow-x: hidden;
}
section {
  width: 100%;
}

.site-header {
  background: #0e0e0e;
  border-bottom: 1px solid #222;
}

.brand-name {
  color: #f2f2f2;
}

.nav-link {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.nav-link:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.nav-link--cta {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  transition: background 0.2s ease, color 0.2s ease;
}

.nav-link--cta:hover {
  background: #ffffff;
  color: #000000;
}

body {
  background: #0b0b0b;
  color: #f5f5f5;
}

/*Menu hamburgesa para movil*/
@media (max-width: 768px) {
  .nav-list{
    display: none !important;
  }
  .nav-link{
    text-decoration: none;
  }
  .nav-item{
    color: white;
  }
  .mobile-hamburger {
    position: fixed;
    right: 2.5rem;
    top: .5rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
  }

  .mobile-hamburger span {
    position: absolute;
    width: 22px;
    height: 2px;
    background: #fff;
    transition: 0.4s ease;
  }

  .mobile-hamburger span:nth-child(1) {
    transform: translateY(-6px);
  }

  .mobile-hamburger span:nth-child(2) {
    transform: translateY(6px);
  }

  .mobile-hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
  }
  .mobile-hamburger.open span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .mobile-menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.93);
    backdrop-filter: blur(6px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 900;
    display: flex;
    align-items: center;      /* centra verticalmente el NAV */
    justify-content: center;  /* centra horizontalmente el NAV */
  }


  .mobile-menu-overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 2.5rem;
    text-align: center;
  }

  .mobile-menu-links a {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease;
    text-decoration: none;
  }

  .mobile-menu-overlay.show .mobile-menu-links a {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 769px) {
  .mobile-hamburger,
  .mobile-menu-overlay {
    display: none;
  }
}